

.container {
    display: flex;
    padding: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: url('https://plus.unsplash.com/premium_photo-1675518474491-a8264226b389?q=80&w=2041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
}


.glassmorphic-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 2rem;
    width: 400px;
    height: 400px;
    position: relative;
    backdrop-filter: blur(10px);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}

.grain-overlay {
    position: absolute;
    width: 400px;
    height: 400px;
    background: url('https://img.freepik.com/premium-vector/gradient-stippling-background-with-abstract-noise-effect_890735-1078.jpg?w=740') repeat;
    opacity: 0.2; /* Adjust for more or less grain */
    pointer-events: none; /* Prevent interaction */
    z-index: 1;
    border-radius: 15px;
    // mix-blend-mode: soft-light;
}


h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}
